main.main
  .main-left
  .main-center
    .main-header
      h1 !{main.title}
      
    .main-appclip
      img(src=main.qrcode)
      img(src='/assets/icons/arrow.left.svg')
      p= main.qrcodeLocale
    .main-near
      img(src='/assets/icons/near-simple.svg')
      p= main.poweredbynear
    .main-stub
    .main-bottom
    .main-scroll
      p= main.scrolldown
  .main-right

main.main-mobile
  h1 !{main.title}
  .main-mobile-near
    img(src='/assets/icons/near-simple.light.svg')
    p= main.poweredbynear

  a.here-button.pink.light(href=common.appStore)
    | Download HERE
  
  img(src="./section-main/assets/arrow.svg", alt="arrow")