main.main
  .main-center
    .main-header
      .main-header__left
        img(src='/assets/logo-ottersec.svg')
      .main-header__center
        h1 !{main.title}
        h3 !{main.subTitle}
        p !{main.textTitle}
        
        .main-header-waitlist.waitlist-button
          a !{waiting.titleMobile}
      .main-header__right
        .main-header__appclip
          p !{main.qrcodeLocale}
          span.qrcode-main
          
      
      

main.main-mobile
  h1 !{main.title}
  .main-mobile-near
    img(src='/assets/Socials/near-small.light.svg')
    p= main.poweredbynear

  a.here-button.pink.light(href=common.appStore)
    | Download HERE
  
  img(src="/assets/icons/arrow.down.white.svg", alt="arrow")

.interface
  for item in interface
    .interface-item
      img(src=item.image)