section.features
    for feature in features    
        .feature
            if Array.isArray(feature.frontPicture)
                div.slider
                    div.slides.feature-picture-phone
                        for pic in feature.frontPicture
                            img(src=pic)
                    div.pagination
            else
                img.no-slider.feature-picture-phone(src=feature.frontPicture)
                

            .feature-content
                h2
                    | #{feature.title}
                    span.dot .
                ul
                    for item in feature.items
                        li !{item}
            
                a(href=feature.moreLink)
                    | #{feature.moreLocale} 
                    img(src='/assets/icons/link-arrow.svg')
