doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{metadata.title}
        
        meta(name="description", content=metadata.text)
        meta(name="og:title", content=metadata.title)
        meta(name="og:description", content=metadata.text)
        meta(name="og:url", content=`http://herewallet.app/blog/${metadata.href}`)
        meta(name="og:image", content=metadata.cover)

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:description", content=metadata.text)
        meta(name="twitter:title", content=metadata.title)
        meta(name="twitter:image", content=metadata.cover)

        meta(name="format-detection", content="telephone=no")
        meta(name="telegram_channel", content="herewallet")

        link(href=`http://herewallet.app/blog/${metadata.href}`, rel="canonical")
        link(href="https://fonts.googleapis.com", rel="preconnect")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap", rel="stylesheet")
        link(rel='shortcut icon' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico' type='image/x-icon')

        link(rel='apple-touch-icon' sizes='76x76' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-icon' sizes='152x152' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')
        link(rel='apple-touch-startup-image' href='https://static.tildacdn.com/tild6365-3063-4930-b165-613062656662/favicon_4.ico')

        // Google tag (gtag.js)
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-J76SQ67RJB')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-J76SQ67RJB');

        link(href="style.sass", rel="stylesheet")
        link(href="../assets/cabinet-grotesk/index.css", rel="stylesheet")

    body.white
        include ../landing/header/index.pug
        +header("/blog")

        .page-minus
            .page
                .page-background
                section
                    .post
                        .post-header
                            .parameters
                                .tag(id=metadata.tag)
                                    | #{metadata.tag}
                                .point
                                .time-to-read 
                                    | #{metadata.timeToRead} read
                            h1.post-title
                                | #{metadata.title}
                            .post-date
                                | #{metadata.date}
                        .post-content
                            != content
                            .subscribe-email-form
                                p.title 
                                    | Subscribe to get useful tutorials and updates!
                                .form-box 
                                    input(placeholder="Email" name="Email")
                                    button
                                        | Subscribe

            include ../landing/footer/index.pug
            script(type="module", src="./index.js")
