section.asks
    h2
        | #{asks.title}
        span.dot .

    for item in asks.items
        .ask-block
            .ask-block-header
                p= item.title
                img(src='/assets/icons/arrow-down.svg')
            
            .ask-block-body
                - var isTextArray = Array.isArray(item.text)
                    if isTextArray
                        ul
                            for text in item.text
                                li= text
                    else 
                        p
                            - var textLink = item.link?.substring(0, 20) + '...'
                            | #{item.text}
                            if item.link
                                a(href=item.link)= textLink