mixin header(active, useWhite)
  header.header
    .header-center
      a(href="/", style="display: flex")
        img.header-logo(src='/assets/logo.svg' alt='logo')
      
      .header-links
        for item in header.links
          if active == item.link
            if useWhite
              a.header-link.active-white(href=item.link) !{item.text}
            else 
              a.header-link.active(href=item.link) !{item.text}

          else
            a.header-link(href=item.link) !{item.text}
      .header-right
        for item in header.downloads
          a.header-download(href=item.link) !{item.text}

      button.header-action

    .header-body
      .header-mobile-links
        for item in header.links
          if active == item.link
            if useWhite
              a.header-link.active-white(href=item.link) !{item.text}
            else 
              a.header-link.active(href=item.link) !{item.text}

          else
            a.header-link(href=item.link) !{item.text}
        
      .header-form
        p.header-form-title
          | Android waiting list
          span .
        
        input.here-input(placeholder="Phone number")
        button.here-button.light Submit 
        .header-form-hr Or
        a.here-button.pink.light(href=common.appStore)
          | Download on App Store

.preheader
  .preheader-center
    .preheader__left.preheader-column
      img.preheader_big-brain.preheader-logo(src='/assets/logo-big-brain.svg' alt='Big Brain')
      img.preheader_near.preheader-logo(src='/assets/logo-near.svg' alt='Near')
    .preheader__right.preheader-column
      img.preheader_powered-by-near.preheader-logo(src='/assets/powered-by-near.svg' alt='Powered by Near')

.float-qr
  .qrcode
  p !{floatqr.qrcodeLocale}

.scroll-up
  img(src="/assets/icons/arrow.up.svg")