section.news
  h2 #{news.title}
  .news-list
    for item in news.items
        .news-item
            img(src=item.picture alt=item.pictureAlt)
            .news-item-content
                h3= item.title
                p= item.text

                a(href=item.link)
                    | #{item.linkLocale}
                    img(src='/assets/icons/link-arrow.svg')
